body{
  margin:0;
  padding:0;
  display:flex;

}
#mainbox {
 background-image: url('carrot/img/background.png');
 background-size: contain;
 background-repeat: no-repeat;
 width: 100%;
 height: 100vh;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
}

/* dialog {
  background-color: beige;
  border: 2px solid burlywood;
  border-radius: 5px;
} */

.play{
  width: 200px;
  height: 200px;
  border: 1px solid 
}